<h1 align=center><font size = 5>Segmenting and Clustering Neighborhoods in Toronto_Part 2</font></h1>

## Problem 2:

We have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [ ]:
import pandas as pd
import numpy as np

from geopy.geocoders import Nominatim

In [3]:
#Show current working directory
import os
os.getcwd()

'C:\\Users\\02484856\\Desktop\\IBM Projects\\Example Solution'

In [4]:
df = pd.read_csv('C:\\Users\\02484856\\Desktop\\IBM Projects\\Example Solution\\toronto.csv',header=None)
df.columns=["Postalcode","Borough","Neighbourhood"]
df.head()

  Postalcode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

###### Data Cleaning
remove rows where Borough is 'Not assigned'

In [10]:
df = df[df['Borough']!='Not assigned'] # Data cleaning: remove rows where Borough is 'Not assigned'
df.head()

  Postalcode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [14]:
df = df.groupby('Postalcode').agg(lambda x:','.join(set(x))).reset_index()
df.head()

  Postalcode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Port Union,Rouge Hill
2        M1E  Scarborough       West Hill,Guildwood,Morningside
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [15]:
df.loc[df['Neighbourhood']=="Not assigned",'Neighbourhood']=df.loc[df['Neighbourhood']=="Not assigned",'Borough']
#  If there is no assigned name for Neighborhood, it directly receives the name of Borough.
df.head()

  Postalcode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Port Union,Rouge Hill
2        M1E  Scarborough       West Hill,Guildwood,Morningside
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [16]:
df.shape

(103, 3)

In [18]:
pos = pd.read_csv('C:\\Users\\02484856\\Desktop\\IBM Projects\\Example Solution\\Geospatial_Coordinates.csv')
pos.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [21]:
!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim 

def get_geocode(postal_code):
   
    lat_lng_coords = None # initialize your variable to None
    
    while(lat_lng_coords is None): # loop until you get the coordinates
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    
    return latitude, longitude

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [22]:
pos.rename(columns={'Postal Code':'Postalcode'},inplace=True)
data = pd.merge(df, pos, on='Postalcode')
data.head()

,Postalcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Port Union,Rouge Hill",43.784535,-79.160497
2,M1E,Scarborough,"West Hill,Guildwood,Morningside",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [30]:
data.to_csv(r'C:\\Users\\02484856\\Desktop\\IBM Projects\\Example Solution\\data2.csv', index = False)